:root{
    --color-walk: rgb(40, 153, 252);
    --color-run: rgb(255, 192, 31);
    --color-cycle:rgb(32, 210, 100);
    --color-sport:rgb(219, 42, 42);

    --theme-orange: rgb(255, 130, 14);
    --theme-orange-hover: rgb(255, 181, 77);
}

*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}

html {
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    display:flex;
}

button:hover,
link:hover{
    cursor: pointer;
}

.sidebar li{
    list-style: none;
}

.sidebar{
    color: white;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    padding: 40px 5px;
    overflow-y: auto;
}

.sidebar h1{
    margin: 20px 10px 5px 10px;
}

.sub-heading-small{
    margin: 8px 0 15px 10px;
    font-size: 12px;
    font-style: italic;
}

.sub-heading-small a {
    color: var(--theme-orange)
}

.sub-heading-instruction{
    color: red;
    float: right;
}

.sub-heading-instruction:hover{
    cursor: pointer;
    color: white;
}

.sidebar-container{
    height: 100%;
    white-space: normal;
}

footer{
    justify-content: flex-end;
}

#map{
    height: 100%;
    background-color: grey;
    width:70%;
}

form {
    border: 1px solid rgb(96, 96, 96);
    padding: 6px;
    border-radius: 8px;
    margin: 0 auto;
    width:95%;
    box-shadow: 1px 3px 10px 5px rgba(0,0,0,0.5);
    max-width: 400px;
}

.input-row label {
    display: inline-block;
    clear: left;
    text-align: right;
    width:70px;
}

.inputGrid{
    display: grid;
    grid-template-areas: "input1 input2"
                        "input3 input4"
}

.input-noteArea{
    margin: 5px;
    width: 100%;
    display: block;
}

#note-label{
    display: block;
    width: 100%;
    position: relative;
    left: 24px;
    margin-bottom: 5px;
}

.input-row:nth-child(1){
    grid-area: input1;
}

.input-row:nth-child(2){
    grid-area: input2;
}

.input-row:nth-child(3){
    grid-area: input3;
}

.input-row:nth-child(4){
    grid-area: input4;
}

form h3{
    font-weight: 600;
    padding-left: 10px;
}

#form-close-button{
    float:right;
    position: relative;
    top: -42px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    color:white;
    background-color: rgba(255, 255, 255, 0.1);
}

#form-close-button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.form-submit-button {
    grid-area: button;
    padding: 5px 25px;
    margin: 10px;
    background-color: var(--theme-orange);
    border: none;
    border-radius: 5px;
}

.form-submit-button:hover{
    background-color: var(--theme-orange-hover);
}

form option,
form select{
    color: black;
}

input,
select {
    display: inline-block;
    width: 80px;
    margin-left: 5px;
}

textarea{
    width: 80%;
    vertical-align: top;
    margin-left: 5px;
    height: 60px;
    max-width:90%
}

.input-row{
    margin: 5px;
}


.exercisePanel{
    padding: 6px;
    border-radius: 8px;
    width:80%;
    max-width: 300px;
    margin: 20px auto;
    box-shadow: 1px 3px 10px 5px rgba(0,0,0,0.5);
    color: white;
}
.exercisePanel div{
    margin: 5px 0;
}

.panel-category{
    display: inline-block;
    width: 80px;
    font-weight: bold;
    color: rgb(202, 202, 202);
}

.exercisePanel:hover{
    box-shadow: 1px 4px 10px 8px rgba(0,0,0,0.8);
}

.exercisePanel h2{
    margin-top:0;
    font-size: 20px;
}

#exercise-panel-close-btn{
    float:right;
    position: relative;
    top: -40px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    color:white;
    background-color: rgba(255, 255, 255, 0.05);
}
#exercise-panel-close-btn:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.hidden{
    display: none
}

.hide-animate{
    opacity:0
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip{
    background-color: rgb(32, 32, 32);
}

.leaflet-popup-content{
    color: white;
}

.popup--walk .leaflet-popup-content-wrapper{
    border-left: 7px solid var(--color-walk)
}

.popup--run .leaflet-popup-content-wrapper{
    border-left: 7px solid var(--color-run)
}

.popup--cycle .leaflet-popup-content-wrapper{
    border-left: 7px solid var(--color-cycle);
}

.popup--sport .leaflet-popup-content-wrapper{
    border-left: 7px solid var(--color-sport);
}

.exercise-panel-walk{
    border: 1px solid var(--color-walk)
}

.exercise-panel-run{
    border: 1px solid var(--color-run)
}

.exercise-panel-cycle{
    border: 1px solid var(--color-cycle)
}

.exercise-panel-sport {
    border: 1px solid var(--color-sport)
}

@media screen and (max-width:800px) {
    body {
        flex-direction: column-reverse;
    }

    .sidebar{
        max-height: 350px;
        padding: 0px 10px 20px 10px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .sidebar-container{
        display: inherit;
        flex-direction: row;
        height: 300px;
        align-items: flex-start;
    }

    form{
        display: inline-block;
        min-width: 300px;
        max-width: 320px;
        height: 97%;
    }

    #form-close-button {
        top: -30px;
    }

    form h3{
        margin: 5px 0 10px 0;
    }


    input,
    select {
        width: 80px;
    }

    .input-row label,
    #note-label {
        width: 70px;
        text-align: right;
        display: inline-block;
    }

    #note-label{
        left:0px;  
    }

    textarea{
        width: 180px;
        display: inline-block;
        height: 45px
    }

    .inputGrid{
        display:inline-block;
    }

    footer{
        position:relative;
        bottom: -20px;
    }

    .sidebar,
    .sidebar-container {
        min-width: 100%;
    }

    .exercisePanel{
        white-space: normal;
        min-height: 220px;
        min-width: 180px;
        margin: 0px 10px;
    }

    #map{
        width: 100%;
    }
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 500; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
  }

.modal-content {
    color: rgb(32, 32, 32);;
    position: relative;
    z-index: 501;
    top: 20%;
    background-color: #dadada;
    border-radius: 10px;
    margin: auto;
    padding: 10px 30px 30px 30px;
    width: 70%;
    max-width: 600px;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.5)
  }

.close-modal{
    margin: 35px 0 0 0;
    font-weight: 600;
    color: rgb(0, 11, 132)
}

.close-modal:hover{
    color: rgb(86, 127, 202)
}

.modal-content li{
    margin: 8px 0;
}

.modal-content a{
    text-decoration: none;
    color: var(--theme-orange);
    font-weight: 600;
}

.modal-content a:hover{
    text-decoration: underline;
    color: var(--theme-orange-hover);
}